
.mtl{
    margin-top: 2rem !important;
  }
  .width-30{
    width:30%;
  }

  hr.new3 {
    border-top: 1px dotted red;
  }

  .width-7{
    width:8%;
  }
  .width-8{
    width:8%;
  }
