{
 
    "parser": "babel-eslint",
    "env": {
      "browser": true,
      "jest": true
    },
    "rules": {      
      "max-len": ["error", { "code": 180, "tabWidth": 2 }],
      "no-console": ["error", { "allow": ["warn", "error"] }],
      "function-paren-newline": "off",
      "react/prefer-stateless-function": "off",      
      "jsx-a11y/click-events-have-key-events": "off",
      "react/sort-comp": "off",
      "no-plusplus": "off",
      "prefer-destructuring": "off"      
    }
  }
  